extends base

block body
    h1 The Great Awakening
    p Welcome traveler from an antique land. Please sit and tell us of what you have seen. The unheard of monsters, who slither and bite. Tell us of the wondrous items and and artifacts you have found, their mysteries yet to be unlocked. Of the vexing vocations and surprising skills you have seen.

    h2 Plimorn's diary
    p #[a(href=url_for('plimorn-diary')) Collection of pages and notes] written by great wizard Plimorn Waveharp
    
    h2 Organizational notes

    h3 Timekeeping
    p Reference epoch in this universe is event of the Chtulu Rising. Years in the documents are written either as BCR (Before Chtulu Rising) or as ACR (After Chtulu Rising)
    h3 Help and design reference
    p List of technologies and design reference can be found at #[a(href=url_for('help')) help] page.


