extends base

block body
    h2 Tookania
    - const posts = site.categories.findOne({name: 'location'}).posts.sort('order', 1).toArray()
    each post in posts
        h3.h3
            a(href=url_for(post.path))=post.title
    p
    !=page.content